# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

qdots_qll/__pycache__/
qdots_qll.egg-info
tests/__pycache__/

.idea
.pytest_cache
.vscode


# C extensions
*.so


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST




results/run_2024-01-02_17:58:59_model.job
results/run_2024-01-02_17:58:59_results.job
results/run_2024-01-02_18:33:28_model.job
results/run_2024-01-02_18:33:28_results.job
draft_compute_fim_time.ipynb
results/run_2024-01-04_17:12:39_model.job
results/run_2024-01-04_17:12:39_results.job
results/run_2024-01-05_17:35:03_model.job
results/run_2024-01-05_17:35:03_results.job
results/run_2024-01-11_16:51:55_model.job
results/run_2024-01-11_16:51:55_results.job
data_analysis/analysis_using_all_estimates.ipynb
qdots_qll/models/__pycache__/__init__.cpython-311.pyc
qdots_qll/models/__pycache__/game.cpython-311.pyc

results/run_2024-01-15_16:20:40_model.job
results/run_2024-01-15_16:20:40_results.job
results/run_2024-01-15_16:20:40.log
data_analysis/cacharreo_nan.ipynb
results/run_2024-01-16_18:42:07_model.job
results/run_2024-01-16_18:42:07_results.job
results/run_2024-01-17_11:07:58_model.job
results/run_2024-01-17_11:07:58_results.job
