# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

qdots_qll/__pycache__/

# C extensions
*.so


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST




results/run_2024-01-02_17:58:59_model.job
results/run_2024-01-02_17:58:59_results.job
results/run_2024-01-02_18:33:28_model.job
results/run_2024-01-02_18:33:28_results.job
draft_compute_fim_time.ipynb
results/run_2024-01-04_17:12:39_model.job
results/run_2024-01-04_17:12:39_results.job
results/run_2024-01-05_17:35:03_model.job
results/run_2024-01-05_17:35:03_results.job
results/run_2024-01-11_16:51:55_model.job
results/run_2024-01-11_16:51:55_results.job
